<h1>Eat-Da-Burger!</h1>

<div class="container">
    <section id="page-name">
        <iframe src="https://giphy.com/embed/Zehf1TnUglT2g" width="480" height="270" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
        <a href="https://giphy.com/gifs/burgers-Zehf1TnUglT2g"></a>
        <iframe src="https://giphy.com/embed/3oEdv5S8Th6b9gsNqM" width="480" height="480" frameBorder="0"
            class="giphy-embed" allowFullScreen></iframe><a
            href="https://giphy.com/gifs/laugh-dennys-diner-3oEdv5S8Th6b9gsNqM"></a>

        <iframe src="https://giphy.com/embed/Zehf1TnUglT2g" width="480" height="270" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/burgers-Zehf1TnUglT2g"></a></p>


    </section>
    <section class="row">
        <div class="col-lg-8 col-left">
            <table>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <p>{{burger_name}}</p>
                    <button class="eatburger" data-id="{{id}}" data-newBurger="{{devoured}}">
                        {{#if devoured}}NOTHING BUT CRUMBS!{{else}}EAT THE BURGER!{{/if}}
                    </button>

                    <button class="removerburger" data-id="{{this.id}}">DELETE BURGERS!</button>
                </li>

                {{/unless}}
                {{/each}}
            </table>
        </div>

        <div class="col-lg-4 col-right">
            <table>
                {{#each burgers}}
                {{#if devoured}}
                <div>{{id}} - {{burger_name}}</div>
                <button class="removerburger" data-id="{{this.id}}">DELETE BURGERS!</button>

                {{/if}}
                {{/each}}
            </table>
        </div>
    </section>

    <form class="create-form">
        <div class="form-group">
            <label for="newburger"></label>
            <textarea id="newburger" name="burger-name" rows="3" cols="50"
                placeholder="What burger do you want me to make?"></textarea>
        </div>
        <button type="submit" class="addburger">Add Burger</button>
    </form>


</div>